<a href="https://colab.research.google.com/github/PratyushSahu27/python/blob/main/practise7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input("Enter x"))
print('x is less than 10' if x<10 else 'x is more than 10')

Enter x15
x is more than 10

In [6]:
high = True
low = False
lak = True
if high or low and not lak:
    print("Hello world\n GG man")
else:
    print("Bye!!!!!!!")

Hello world
 GG man

In [7]:
ord('bag')

TypeError: ignored

In [8]:
ord("b")

98

In [9]:
ord('B')

66

In [10]:
'bag' > 'Air'

True

In [11]:
'bag' > 'cat'

False

In [12]:
'bag' > 'bat'

False

In [13]:
'bat' > 'bag'

True

In [15]:
for i in 'Namaste World!':
    print(i)

N
a
m
a
s
t
e

W
o
r
l
d
!

In [16]:
a = 'attempted 3 times and failed'
ar = a.split()

In [17]:
print(ar)

['attempted', '3', 'times', 'and', 'failed']

In [18]:
ar = a.split('t')

In [19]:
print(ar)

['a', '', 'emp', 'ed 3 ', 'imes and failed']

In [20]:
arr = (5,39385,63,7,3,7,9,67,4,3,7,9,7,434,65,4,3,5,6,7654,3,4)

In [21]:
for i in range(8):
    print(arr[i])

5
39385
63
7
3
7
9
67

In [23]:
for number in range(5):
    print('Number: ',number,number*'.')

Number:  0
Number:  1 .
Number:  2 ..
Number:  3 ...
Number:  4 ....

In [24]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break
else:
    print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

In [25]:
i = 0 
while i < 7:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7